@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  outline: none;
  outline-offset: 1px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #191715;
  min-height: 100dvh;
}

.inicio {
  display: flex;
  padding: 0 5%;
}
.inicio .textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inicio .textos h1.slogan {
  font-family: "Linden Hill", serif;
  font-weight: normal;
  font-size: 3.5rem;
  color: #ffffff;
}
.inicio .textos h2.subslogan {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: normal;
  width: 85%;
  color: #ffffff;
}
.inicio .textos button#faleConosco {
  transition: transform 0.2s;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 3rem;
  border-radius: 10px;
  border: none;
  padding: 1em 3em;
  background-color: #593f1e;
  color: #ffffff;
}
.inicio img.homeImg {
  width: 40dvw;
}
