body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    background-color: #302d29;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 0;
}

.sidebar h1 {
    text-align: center;
}

.logo img {
    width: 50%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    flex-direction: column;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
}

.profile h2,
.profile h4 {
    margin: 5px 0;
    text-align: center;
}

.profile h2 {
    font-size: 28px;
}

.profile h4 {
    font-weight: normal;
}

.sidebar .dashboardLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar .dashboardLinks button {
    background-color: #645f59;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    width: 100%;
    color: white;
    height: 50px;
}

.sidebar .dashboardLinks button:hover {
    background-color: #161513;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}