:root {
    --cor-primaria: #161513;
    --cor-secundaria: #3f3b36;
    --cor-terciaria: #645f59;

    /* Especial para Histórico */
    --altura-slider: 7px; 
    --tamanho-slider: 20px;

    /* Componentes */
    --cor-usage-cpu: rgb(255, 218, 107);
    --cor-usage-ram: rgb(192, 178, 160);
    --cor-usage-disk: rgb(249, 146, 44);
    --cor-latencia: rgb(102, 35, 168);
    --cor-rede-default: rgb(65, 178, 141);
    --cor-rede-recebido: rgb(5, 208, 222);
    --cor-rede-enviado: rgb(125, 148, 60);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main-content {
    padding: 30px;
    background-color: #191715;
    color: white;
    background-image: url('data:image/svg+xml,<svg width="1919" height="737" viewBox="0 0 1919 737" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-3.5 271.5C438.833 403.667 1442.2 616 1917 408" stroke="%23957B5C" stroke-width="7" stroke-opacity="0.3"/><path d="M-3.77746 382.002C438.556 514.169 1441.92 726.502 1916.72 518.502" stroke="%23957B5C" stroke-width="7" stroke-opacity="0.3"/><path d="M-3.77746 174.002C438.556 306.169 1441.92 518.502 1916.72 310.502" stroke="%23957B5C" stroke-width="7" stroke-opacity="0.3"/></svg>');
}

/* Sidebar */
.sidebar {
    background-color: #302d29;
    height: 100vh;
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0;
}

.sidebar h1 {
    text-align: center;
}

.logo img {
    width: 50%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    flex-direction: column;
}

.profile img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
}

.profile h2,
.profile h4 {
    margin: 5px 0;
    text-align: center;
}

.profile h2 {
    font-size: 22px;
}

.profile h4 {
    font-size: 14px;
    font-weight: normal;
}

.sidebar .dashboardLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar .dashboardLinks h2 {
    font-size: 22px;
}

.sidebar .dashboardLinks button {
    background-color: #645f59;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 200px;
    color: white;
    height: 35px;
}

.sidebar .dashboardLinks button:hover {
    background-color: #6C493A;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}