@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-size: 1rem;
}

.header {
  height: 80px;
  background-color: #191715;
  width: 100vw; 
 
  top: 0;
  z-index: 10;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #191715;
}

.logo-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  color: #ffffff;
  margin-top: 1%;
}

.logo-container img {
  height: 100%;
  margin-right: 3%;
}

.metix-container {
  width: 190px;
  
}

.metix-container h5 {
  width: 100%;
}

.metix-container h4 {
  font-size: 30px;
  width: 100%;
}

.navbar {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: #ffffff;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header .agora {
  color: #593f1e;
  font-weight: bolder;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

#login {
  background-color: #505050;
  height: 64px;
  width: 350px;
  padding: 31.5% 80%;
}

#cadastro {
  background-color: #3a3a3a;
  height: 64px;
  width: 350px;
  padding: 20% 50%;
  margin-left: 23%;
}

.login #login {
  padding: 22% 70%;
  margin-top: 400px;
}

.login #cadastro {
  padding: 14% 40%;
  margin-left: 30%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  outline: none;
  outline-offset: 1px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: center / 100% url("data:image/svg+xml,%3Csvg width='1981' height='584' viewBox='0 0 1981 584' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1979.16 578.85C1543.38 468.436 538.175 288.245 3.62507 450.797M1978.41 394.352C1542.63 283.937 537.433 103.747 2.88275 266.299M1977.63 198.853C1541.85 88.439 536.646 -91.7515 2.09616 70.8006' stroke='%23B3B2B2' stroke-width='10'/%3E%3C/svg%3E%0A") no-repeat #505050;
  min-height: 100dvh;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  border-radius: 5px;
  padding: 2em 4em;
  background-color: #d9cdbf;
}

form h1 {
  text-align: center;
  font-size: 1.5rem;
}

form a {
  text-decoration: none;
  color: #2d2a27;
}

form .campos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form .campos label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form .campos label input {
  transition: transform 0.2s;
  border-radius: 5px;
  border: none;
  padding: 0.5em;
  padding-left: 2em;
  background: 0.3em center / 1.5em no-repeat #adacab;
  font-size: 1rem;
}
form .campos label input:hover {
  transform: scale(105%, 105%);
}
form .campos label input:focus-visible {
  border: 1px solid black;
}
form .campos label input:invalid:not(:placeholder-shown, :focus) {
  border: 1px solid red;
}

form button {
  transition: transform 0.2s;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  min-width: 50%;
  background-color: #524432;
  font-family: "Quantico", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #e7ae79;
}
form button:hover {
  transform: scale(105%, 105%);
}

form #email_input {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23D27C2C' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zM20 8l-7.475 4.675q-.125.075-.262.113t-.263.037t-.262-.037t-.263-.113L4 8v10h16zm-8 3l8-5H4zM4 8v.25v-1.475v.025V6v.8v-.012V8.25zv10z'/%3E%3C/svg%3E");
}
form #senha_input {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23D27C2C' d='M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1t3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm0-2h12V10H6zm6-3q.825 0 1.413-.587T14 15t-.587-1.412T12 13t-1.412.588T10 15t.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3t-2.125.875T9 6zM6 20V10z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 900px) {
  form {
    width: min-content;
  }
}
