@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");

/*FONTES ATUAIS*/
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap'); /*Fonte Grega - "Macondo Swash Caps"   */
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap'); /*Fonte Fina   -    "Bubbler One"         */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap'); /*Fonte padrão  -  "Baloo Paaji 2"   */


* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Paaji 2";
}

:root {
  --tamanho-footer: 90px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.header {
  font-family: "Macondo Swash Caps", sans-serif;
  height: 5rem;
  background-color: #191715;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

#itens-laterais {
  display: none;
}


.cad {
  position: fixed;
  left: 0px;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #191715;
}

.logo-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  color: #ffffff;
  margin-top: 1%;
}

.menuHambur {
  display: none;
  font-family: "Macondo Swash Caps";
}

.logo-container img {
  height: 100%;
  margin-right: 3%;
}

.metix-container {
  width: 190px;
}

.cad .metix-container {
  margin-top: -5px;
}

.metix-container h5 {
  width: 100%;
}

.metix-container h4 {
  font-size: 30px;
  width: 100%;
}

.navbar {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: #ffffff;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  color: #dedede;
  font-style: normal;
}

.header .agora {
  color: #6C493A;
  font-weight: bolder;
  font-family: "Macondo Swash Caps", sans-serif;
}

.header a {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.header .lgCd{
  color: #D5BBA4;
}

.header a:hover{
  text-decoration: none;
  color: #E7D7C8;
}

.cad #login {
  padding: 22% 70%;
}

.cad #cadastro {
  padding: 14% 40%;
  margin-left: 30%;
}

.login #login {
  padding: 22% 70%;
  margin-top: 400px;
}

.login #cadastro {
  padding: 14% 40%;
  margin-left: 30%;
}

#num-email {
  margin-top: 20px;
}

/*Footer*/

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Bubbler One", serif;
  font-size: larger;
  color: #fff;
}

.footer * {
  box-sizing: border-box;
}

.footer .footer1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2dvw;
  background-color: #141311;
}

.footer .footer1 .info {
  display: flex;
  flex-direction: column;
  gap: 2dvw;
  align-items: center;
  margin-left: 24rem;
}

.footer .footer1 .info .clickables img {
  width: 15%;
}

.footer .footer1 .info div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer .footer1 .info .contato div {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.footer .footer1 .logo {
  width: 12%;
}

.footer .footer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2dvw;
  background-color: #121010;
}


/* HEAD INICIAL */
.inicio {
  margin-top: 2%;
  display: flex;
  padding: 5% 5%;
  background: #191715;
}

.inicio .textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inicio .textos h1.slogan {
  font-family: "Baloo Paaji 2", serif;
  font-weight: normal;
  font-size: 3rem;
  color: #ffffff;
}

.inicio .textos h2.subslogan {
  font-family: "Baloo Paaji 2", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1.7rem;
  width: 80%;
  color: #ffffff;
}

.inicio .textos button#faleConosco {
  transition: transform 0.2s;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 3rem;
  border-radius: 10px;
  border: none;
  padding: 1em 3em;
  background-color: #6C493A;
  color: #ffffff;
}

.inicio .textos button#faleConosco:hover{
  transition: 0.5s;
  width: 30%;
  background-color: #473026;
}

.inicio img.homeImg {
  width: 40dvw;
}


/* TELA SERVICOS */

.tela-servico {
  background-image: url('data:image/svg+xml,<svg width="1919" height="737" viewBox="0 0 1919 737" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-3.5 271.5C438.833 403.667 1442.2 616 1917 408" stroke="%23957B5C" stroke-width="10"/><path d="M-3.77746 382.002C438.556 514.169 1441.92 726.502 1916.72 518.502" stroke="%23957B5C" stroke-width="10"/><path d="M-3.77746 174.002C438.556 306.169 1441.92 518.502 1916.72 310.502" stroke="%23957B5C" stroke-width="10"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #191715;
  color: #fff;
}

.engloba-servico-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 155%;
}


.engloba-servico-conteudo h1 {
  white-space: nowrap;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Macondo Swash Caps";
}

.engloba-servico-conteudo span {
  display: flex;
  width: 100%;
  font-size: 20px;
  text-align: justify;
}

/*
.conteudo-servico {
  display: flex;
  width: 100%;
  flex-direction: column;
}
*/
.engloba-servico span {
  display: flex;
}

.cards-servico {
  display: flex;
  gap: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.cartao1-servico {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1e1813f4;
  width: 35rem;
  padding: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.cartao1-servico:hover {
  transform: scale(1.05);
}

.cartao1-servico h5 {
  font-size: 1.4rem;
  text-align: center;
}

.cartao1-servico span {
  font-size: 18px;
  text-align: center;
  margin: 0.5rem;
}

.screen-servico {
  width: 61%;
  height: auto;
  margin-left: 20%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50px;
}

/* TELA SOB NOS */

.engloba-tudo {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #191715;
  padding: 4rem;
}


.sobre {
  display: flex;
  height: 90%;
  width: 96.3%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.imagem-sobre-nos {
  border-radius: 7px;
  width: 50%;
}

.texto_sobre {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texto_sobre h1 {
  font-family: "Macondo Swash Caps", sans-serif;
  font-size: 3rem;
  color: white;
  margin-bottom: 30px;
}

.texto_sobre span {
  font-size: 1.2rem;
  text-align: justify;
  margin-left: 0.9rem;
  color: white;
}


.social1 {
  display: flex;
  width: 96%;
}

.span-principios {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 85%;
  text-align: justify;
  display: flex;
}

.container-sob-nos h1 {
  font-family: "Macondo Swash Caps", sans-serif;
  font-size: 3rem;
  color: white;
  margin-bottom: 3px;
  margin-top: 3rem;
}

.container-sob-nos span {
  font-size: 1.2rem;
  text-align: justify;
  margin-left: 0.2rem;
  color: white;
}

.container-sob-nos {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 96%;
  text-align: justify;
  color: white;
}

.cartoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}

.boxes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #d5bba4bb;
  width: 30%;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  border-radius: 5px;
  transition: transform 0.3s ease;

}

.boxes:hover {
  transform: scale(1.05);
}

.boxes .box {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.boxes .box h4 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  color: white;
}

.boxes .box p {
  font-size: 18px;
  margin-bottom: 5%;
  margin-top: 1.5rem;
  height: auto;
  color: white;
}



/* TELA EQUIPE */
.equipe {
  background-image: url('data:image/svg+xml,<svg width="1919" height="737" viewBox="0 0 1919 737" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-3.5 271.5C438.833 403.667 1442.2 616 1917 408" stroke="%23957B5C" stroke-width="10"/><path d="M-3.77746 382.002C438.556 514.169 1441.92 726.502 1916.72 518.502" stroke="%23957B5C" stroke-width="10"/><path d="M-3.77746 174.002C438.556 306.169 1441.92 518.502 1916.72 310.502" stroke="%23957B5C" stroke-width="10"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #191715;
  height: auto;
  display: flex;
  padding: 2rem;
}
  .container2 {
    align-items: center;
    max-width: 1180rem;
    margin-left: 15%;
  }

  .container2 h2{
    font-family: "Macondo Swash Caps", sans-serif;
    font-size: 2.4rem;
    color: white;
    margin-bottom: 3rem;
    margin-left: 3.5rem;
  }

  .our-team {
    padding: 1.2rem 0.75rem;
    background: #E7D7C8;
    border-radius: 1rem;
    text-align: center;
    border: 0.5px solid #ffffffbb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .our-team .pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #E7D7C8;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
  }

  .our-team:hover .pic {
    background: #B08968;
    border-radius: 60%;
  }

  .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .our-team .title {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #6C493A;
    margin: 0 0 7px 0;
  }

  .our-team .post {
    display: block;
    font-size: 1rem;
    color: #B08968;
    margin-bottom: 1rem;
  }

  .our-team .social {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
  }

  .our-team .social li {
    display: inline-block;
    margin-right: 5px;
  }

  .our-team .social li a {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #7F5539;
    border: 1px solid #B08968;
    transition: all 0.5s ease 0s;
  }

  .our-team:hover .social li a {
    background: #7F5539;
    color: #fff;
  }

  .social li a:hover {
    background-color: #ddb892 !important;
    border: none;
    text-decoration: none;
  }

  @media only screen and (max-width: 992px) {
    .our-team {
      margin-bottom: 2rem;
    }
  }



  /* avisos */

  #mensagem_erro {
    border-radius: 5px;
    padding: 0.5em;
  }

  .sucesso {
    background-color: #49a133ff;
    border: 2px solid rgb(41, 102, 25);
  }

  .erro {
    background-color: rgb(161, 51, 51);
    border: 3px solid rgb(102, 25, 25);
  }

  /* fim avisos */




  /*RESPONSIVIDADE FUNCIONANDO!!!!!*/

  @media screen and (max-width: 900px) {

    html {
      scroll-padding-top: 0;
    }

    /*Removendo o cabeçalho no moba*/
    .header {
      background-color: transparent;
    }

    .header .container {
      display: none;
      margin: +10;
    }

    .menuHambur {
      display: flex;
    }

    #menu-icon {
      display: flex;
      position: absolute;
      background-color: transparent;
      border: none;
      z-index: +10;
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23704d24' fill-rule='evenodd' d='M3 16h18v2H3zm0-5h18v2H3zm0-5h18v2H3z'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }


    #itens-laterais {
      background-color: #191715;
      color: #191715;
      position: fixed;
      width: 30vw;
      height: 100vh;
      left: -100%;
      transition: left 0.3s ease;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
    }

    #itens-laterais li {
      margin-top: 30%;
      margin-left: 10%;

    }

    #itens-laterais.aberto {
      left: 0;
      /* Quando o menu é aberto */
    }

    .cad #login,
    #login {
      background-color: #505050;
      height: 64px;
      width: 350px;
      padding: 10px 15px;
      margin-left: -10%;
    }

    .cad #cadastro,
    #cadastro {
      background-color: #3a3a3a;
      height: 0;
      width: 0;
      padding: 10px 15px;
      margin-left: -9%;
    }

    .inicio {
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
    }

    .inicio h2 {
      margin-left: 2rem;
    }

    .textos button {
      margin-left: 25%;
    }

    /*Tela inicio*/
    .inicio {
      display: flex;
      flex-direction: column-reverse;
    }

    /*Tela Serviços*/
    .engloba-servico-conteudo {
      display: block;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 70%;
    }

    .engloba-servico {
      text-align: justify;
      flex-direction: column;
      display: flex;
      width: 100%;
      gap: 1rem;
    }

    .engloba-servico h1 {
      align-items: center;
      font-size: 2rem;
      margin-top: 2rem;
    }

    .texto1-servico span {
      display: flex;
      width: 15rem;

    }

    .imagem-sobre-nos {
      width: 45%;
      border-radius: 7px;
      margin-top: 2.5rem;
      margin-left: 4rem
    }

    .engloba-servico span {
      width: 100%;
      display: flex;

    }

    .texto2-servico {
      justify-content: center;
      flex-direction: column;
      text-align: justify;
      margin-top: 5%;
    }

    .cards-servico {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 4rem;
    }

    .cartao1-servico svg {
      width: 2rem;
      height: 2rem;
    }

    .cartao1-servico h5 {
      font-size: 0.875rem;
      text-align: center;
    }

    .cartao1-servico span {
      font-size: 1rem;
      text-align: center;
      margin: 0.5rem;
    }

    .cartao2-servico h5 {
      font-size: 0.875rem;
      text-align: center;
    }

    .cartao2-servico span {
      font-size: 1rem;
      text-align: center;
      margin: 0.5rem;
    }

    .screen-servico {
      width: 100%;
      height: auto;
      margin-left: 0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: +50px;
    }

    .fundo-icone-cartao {
      background-color: #dedede;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 5px;
    }

    /*Tela Sob-Nós*/

    .engloba-tudo {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #938a8a;
    }


    .sobre {
      display: flex;
      height: 90%;
      width: 15rem;
      margin-left: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .social {
      display: flex;
      height: 90%;
      width: 70%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0;
    }

    .social h1 {
      margin-top: 2rem;
      font-size: 2rem;
      align-items: normal;
      color: white;
      margin-left: 0;
    }

    .imagem-sobre-nos {
      width: 23rem;
      height: 18rem;
      border-radius: 5px;
      margin-top: 2.5rem;
      margin-left: 0;

    }

    .engloba-Sob-nos-1 {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-left: 0;
    }

    .engloba-Sob-nos-2 {
      margin-left: 0;
      margin-right: 0;
    }

    .engloba-Sob-nos-2 span {
      display: flex;
      justify-content: space-around;
      font-size: 1rem;
      width: 90%;
      align-items: baseline;
      margin-left: 10%;
    }

    .texto_sobre {
      width: auto;
      height: auto;
      padding: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .texto_sobre h1 {
      font-size: 2rem;
      color: white;
      margin-left: 1.3rem;
      margin-bottom: 1rem;
      margin-top: 1.8rem;
    }

    .texto_sobre span {
      font-size: 1.3rem;
      width: 19rem;
      height: auto;
      text-align: center;
      color: white;
    }

    .container-sob-nos {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50%;
      text-align: justify;
      color: white;
    }

    .boxes {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #5c5854;
      width: auto;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
      border-radius: 5px;
      transition: transform 0.3s ease;

    }

    .boxes:hover {
      transform: scale(1.05);
    }

    .span-principios {
      margin-top: 2rem;
      margin-left: 5rem;
      margin-bottom: 5%;
      width: 20rem;
      text-align: justify;
      display: flex;
    }

    .container-sob-nos h1 {
      font-size: 2rem;
    }

    .container-sob-nos span {
      text-align: center;
      font-size: 1.3rem;
      margin-left: 0;
    }

    .cartoes {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1em;
      align-items: stretch;
      justify-content: space-around;
      width: 55%;
    }

    .boxes .box {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      transition: transform 0.3s ease;
    }

    .fundo-icones {
      /* background-color: black; */
      border-radius: 6px;
    }

    .boxes .box h4 {
      font-size: 1.4rem;
      margin-top: 1.5rem;
      color: white;
    }

    .boxes .box p {
      font-size: 18px;
      margin-bottom: 5%;
      margin-top: 1.5rem;
      height: auto;
      color: white;
    }



    /*Footer*/

    .footer {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-family: "Noto Serif", serif;
      color: #fff;
    }

    .footer {
      box-sizing: border-box;
    }

    .footer .footer1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      background-color: #191715;
    }

    .footer .footer1 .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 1rem;
      gap: 4dvw;
    }

    .footer .footer1 .info .clickables img {
      width: 15%;
    }

    .footer .footer1 .info div {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

    .footer .footer1 .info .contato div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
    }

    .footer .footer1 .logo {
      width: 6%;
    }

    .footer .footer2 {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #121010;
    }
  }