body {
    overflow: hidden;
}

.macAddress {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

select {
    font-size: 16px;
    width: 150px;
    text-align: right;
    border-radius: 3px;
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-secundaria);
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

h2 {
    width: 100%;
    text-align: center;
}

.metricas .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cards .card {
    text-align: center;
    background-color: var(--cor-secundaria);
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20%;
    height: 120px;
    line-height: 25px;
    gap: 15px;
}

.seeMoreDetails {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
}

.seeMoreDetails:hover {
    color: #bbb;
}

.infoValue {
    font-size: 30px;
    font-weight: bold;
}

.graphics1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.metricas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 412px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.dados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.dados .canvasDiv {
    padding: 20px;
    height: 412px;
    width: 850px;
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
}

.dados .moreInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.moreInfo .warnings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
}

.moreInfo .warnings .infoCard {
    width: 45%;
    height: 100%;
}

.infoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: var(--cor-secundaria) !important;
    color: white;
    padding: 10px;
    gap: 15px;
}

.filtros {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.filtro {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    min-width: 30%;
    height: 60px;
    background-color: var(--cor-terciaria);
    border-radius: 5px;
    border: 2px solid var(--cor-primaria);
}

.selects {
    justify-content: center !important;
    flex-direction: row !important;
    gap: 10px;
}

#dualHandleSlider input[type="range"]{
    position: absolute;
    top: 20%;
    width: 90%;
    pointer-events: none;
    appearance: none;
    background: none;
}

#dualHandleSlider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: var(--tamanho-slider);
    height: var(--tamanho-slider);
    border-radius: 50%;
    background: var(--cor-primaria);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc((var(--tamanho-slider) - var(--altura-slider))/2*-1);
}

#dualHandleSlider input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--cor-primaria);
    cursor: pointer;
}

#dualHandleSlider input[type="range"]:focus {
    outline: none;
}

#dualHandleSlider input[type="range"]:first-child::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--cor-primaria) 50%, var(--cor-primaria) 50%, var(--cor-secundaria) 50%, var(--cor-secundaria) 100%);
    border-radius: 5px;
}

#dualHandleSlider input[type="range"]:first-child::-moz-range-track {
    background-color: var(--cor-terciaria);
}

#dualHandleSlider input[type="range"]::-webkit-slider-runnable-track {
    height: var(--altura-slider);
}

.rangeLegend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rangeLegend input {
    border: 1px solid var(--cor-primaria);
    border-radius: 4px;
    margin: 8px;
    background-color: var(--cor-secundaria);
    color: white;
    text-align: right;
    font-weight: bold;
}

.title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.cardValue {
    font-size: 21px;
    font-weight: bold;
    padding: 8px;
    color: white;
    width: 95%;
    text-align: center;
    border-bottom: 4px solid var(--cor-usage-cpu);
    border-radius: 5px;
    transition: border-color 0.2s;
}

#modalContainer, #modalChart {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    background-color: rgb(79, 77, 74);
    width: 70%;
    height: auto;
    padding: 20px;
    color: white;
    font-size: 18px;
}

.modal canvas {
    position: absolute;
    left: 5%;
}


#modalContainer .modal {
    overflow-y: scroll;
    max-height: 80%;
    padding: 20px;
}

#modalContent .top h1 {
    text-decoration: underline; 
    width: 100%;
}

#modalContent button:hover {
    color: #bbb;
}

#modalContent .title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#modalContent img {
    width: 75px;
    height: 75px;
}

#modalDiv {
    position: relative;
}

.modal .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.closeModal {
    cursor: pointer;
    font-weight: bold;
}

.closeChart {
    position: absolute;
    right: 20px;
}

#geminiText {
    font-size: 18px;
}

.arrow {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 10px);
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    transition: transform 0.2s;
}

.arrow:hover {
    transform: scale(140%, 140%);
}

.titleGeminiCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.titleGeminiCard img {
    width: 70px;
    margin-top: -12px;
    cursor: pointer;
}

.optionsCard {
    display: flex;
    flex-direction: row;
    gap: 100px
}

hr {
    margin: 40px 0;
}

.geminiOptionsClass {
    color: #bbb;
    cursor: default;
    text-decoration: underline;
    font-size: 13px;
    border: none;
    background-color: transparent;
}

.divPDF {
    padding: 50px;
    line-height: 26px;
    background-image: url('data:image/svg+xml,<svg width="1919" height="737" viewBox="0 0 1919 737" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-3.5 271.5C438.833 403.667 1442.2 616 1917 408" stroke="%23957B5C" stroke-width="7" stroke-opacity="0.2"/><path d="M-3.77746 382.002C438.556 514.169 1441.92 726.502 1916.72 518.502" stroke="%23957B5C" stroke-width="7" stroke-opacity="0.2"/><path d="M-3.77746 174.002C438.556 306.169 1441.92 518.502 1916.72 310.502" stroke="%23957B5C" stroke-width="7" stroke-opacity="0.2"/></svg>');
}

.pdfInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.pdfInfo span {
    font-size: 18px;
    margin: 10px 0;
}

.logoPdf {
    align-self: center;
    width: 250px;
    height: 250px;
    margin: -7px 0 20px 0;
}

.creditsPdf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.creditsPdf div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.creditsPdf .ia img {
    width: 170px;
}

.creditsPdf .bobia img {
    width: 95px;
}

.creditsPdf .bobia .bobiaText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#geminiParagraph {
    line-height: 26px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-primaria); 
}

::-webkit-scrollbar-track {
    background: rgb(79, 77, 74);
}

