body {
    overflow: hidden;
}

.macAddress {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

select {
    font-size: 16px;
    width: 150px;
    text-align: right;
    border-radius: 3px;
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-secundaria);
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

h2 {
    width: 100%;
    text-align: center;
}

.metricas .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cards .card {
    text-align: center;
    background-color: var(--cor-secundaria);
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20%;
    height: 120px;
    line-height: 25px;
    gap: 15px;
}

.seeMoreDetails {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
}

.seeMoreDetails:hover {
    color: #bbb;
}

.infoValue {
    font-size: 30px;
    font-weight: bold;
}

.graphics1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.metricas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 412px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.dados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.dados .canvasDiv {
    padding: 20px;
    height: 412px;
    width: 850px;
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
}

.dados .moreInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.moreInfo .warnings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
}

.moreInfo .warnings .infoCard {
    width: 45%;
    height: 100%;
}

.infoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: var(--cor-secundaria) !important;
    color: white;
    padding: 10px;
    gap: 15px;
}

.filtros {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.filtro {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    min-width: 30%;
    height: 60px;
    background-color: var(--cor-terciaria);
    border-radius: 5px;
    border: 2px solid var(--cor-primaria);
}

.selects {
    justify-content: center !important;
    flex-direction: row !important;
    gap: 10px;
}

#dualHandleSlider input[type="range"]{
    position: absolute;
    top: 20%;
    width: 90%;
    pointer-events: none;
    appearance: none;
    background: none;
}

#dualHandleSlider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: var(--tamanho-slider);
    height: var(--tamanho-slider);
    border-radius: 50%;
    background: var(--cor-primaria);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc((var(--tamanho-slider) - var(--altura-slider))/2*-1);
}

#dualHandleSlider input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--cor-primaria);
    cursor: pointer;
}

#dualHandleSlider input[type="range"]:focus {
    outline: none;
}

#dualHandleSlider input[type="range"]:first-child::-webkit-slider-runnable-track {
    /* background-color: var(--cor-secundaria); */
    background: linear-gradient(to right, var(--cor-primaria) 50%, var(--cor-secundaria) 50%);
    border-radius: 5px;
}

#dualHandleSlider input[type="range"]:first-child::-moz-range-track {
    background-color: var(--cor-terciaria);
}

#dualHandleSlider input[type="range"]::-webkit-slider-runnable-track {
    height: var(--altura-slider);
}

.rangeLegend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rangeLegend input {
    border: 1px solid var(--cor-primaria);
    border-radius: 4px;
    margin: 8px;
    background-color: var(--cor-secundaria);
    color: white;
    text-align: right;
}

.title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.cardValue {
    font-size: 21px;
    font-weight: bold;
    padding: 8px;
    color: white;
    width: 95%;
    text-align: center;
    border-bottom: 4px solid var(--cor-usage-cpu);
    border-radius: 5px;
    transition: border-color 0.2s;
}

#modalContainer, #modalChart {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    background-color: rgb(79, 77, 74);;
    width: 70%;
    height: auto;
    /* border: 3px solid var(--cor-primaria); */
    padding: 20px;
    color: white;
    font-size: 18px;
}

.modal canvas {
    position: absolute;
    left: 5%;
}

#modalDiv {
    position: relative;
}

.modal .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.closeModal {
    cursor: pointer;
    font-weight: bold;
}

.closeChart {
    position: absolute;
    right: 20px;
}

#geminiText {
    font-size: 18px;
}

.arrow {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 10px);
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    transition: transform 0.2s;
}

.arrow:hover {
    transform: scale(140%, 140%);
}