.tela-servico {
    background-image: url('data:image/svg+xml,<svg width="1919" height="737" viewBox="0 0 1919 737" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-3.5 271.5C438.833 403.667 1442.2 616 1917 408" stroke="%23957B5C" stroke-width="10"/><path d="M-3.77746 382.002C438.556 514.169 1441.92 726.502 1916.72 518.502" stroke="%23957B5C" stroke-width="10"/><path d="M-3.77746 174.002C438.556 306.169 1441.92 518.502 1916.72 310.502" stroke="%23957B5C" stroke-width="10"/></svg>');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

body::-webkit-scrollbar {
    display: none; 
  }

.engloba-servico {
    text-align: justify;
    margin-left: 8rem;
    display: flex;
    width: 100%;
    height: 10rem;
    gap: 2rem;
}


.engloba-servico h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

.engloba-servico span {
    width: 35%;
    height: 2rem;
    margin-top: 1rem;
}

.conteudo-servico {
    margin-top: 0.5rem;
    width: 85%;
}

.cards-servico {
    display: flex;
    gap: 6rem;
    margin-top: 4rem;
}

.cartao1-servico {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 18rem; 
    width: 15rem;  
    padding: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
    border-radius: 5px;
    transition: transform 0.3s ease;
    
}

.cartao1-servico:hover{
    transform: scale(1.05);
}

.cartao1-servico svg {
    width: 2rem;  
    height: 2rem; 
}

.cartao1-servico h5 {
    font-size: 0.875rem; 
    text-align: center; 
}

.cartao1-servico span {
    font-size: 1rem; 
    text-align: center; 
    margin: 0.5rem;
}

.cartao2-servico {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 18rem; 
    width: 15rem;  
    padding: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.cartao2-servico:hover{
    transform: scale(1.05);
}

.cartao2-servico svg {
    width: 2rem;   
    height: 2rem;  
}

.cartao2-servico h5 {
    font-size: 0.875rem;  
    text-align: center; 
}

.cartao2-servico span {
    font-size: 1rem;  
    text-align: center; 
    margin: 0.5rem; 
}

.screen-servico{
    width: 61%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 20%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: +50px;
}

.fundo-icone-cartao{
    background-color:#DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem; 
    border-radius: 5px;
}