.sobre .social {
    background-color: #B3B2B2;
    display: flex;
    height: 90vh;
    align-items: center;
    display: flex;
  }
  
  .sobre .social .container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .sobre .social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
  }

  .sobre .social p {
    text-align: center;
  }

  .sobre .container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
  }

  .sobre .header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid black;
  }

  .sobre .container img{
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .sobre .social .container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .sobre .social .container .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    margin-top: 40px;
  }

  .sobre .boxes_sobre h1{
    color: white;
  }
  .sobre .boxes_sobre {
    display: flex;
    width: 100%;
    height: 175vh;
    padding: 30px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .sobre .box {
    width: 250px;
    text-align: center;
    border: 5px solid black;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    text-align: justify;
  }

  .sobre .box p{
    text-align: justify;
  }

  .sobre .box img {
    width: 120px;
    height: 120px;
  }

  .sobre .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre .box_sobre {
    background-color: #B3B2B2;
    width: 120vh;
    height: 60vh;
    padding: 10px 40px;
    font-size: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    text-align: justify;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
  }

  .sobre .content_sobre{
    width: 100%;
    height: 80%;
    display: flex;
  }

  .sobre .img_sobre{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sobre .texto_sobre{
    width: 60%;
    height: 100%;
  }
  
  .sobre .texto_sobre p{
    font-size: 20px;
  }

  .sobre .titulo_sobre{
    width: 100%;
    height: 20%;
    display: flex;
  }

  .sobre .space1{
    width: 40%;
    height: 100%;
  }

  .sobre .box_sobre img{
    width: 60vh;
    height: 60vh;
    border-radius: 10%;
  }

  .sobre .box_sobre p{
    font-size: 30px;
    width: 70%;
    margin-top: 75px;
  }

  .sobre .container{
    font-size: 30px;
  }

  .sobre .social .container .boxes .box p{
    font-size: 24px;
  }

  .sobre .social .container .boxes .box h4{
    font-size: 30px;
    padding: 0px;
    margin: 15px;
  }
  