body::-webkit-scrollbar {
  display: none; 
}

body{
  display: flex;
  align-items: column;
  flex-direction: column;
  background-color: #B3B2B2;
}

.sobre{
    display: flex;
    height: 90%;
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12rem;
  }

  .social {
    display: flex;
    height: 90%;
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12rem;
  }

  .engloba-Sob-nos-1{
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 7%;
  }

  .engloba-Sob-nos-2{
    margin-left: 4%;
    margin-right: 0.5rem;
  }

  .engloba-Sob-nos-2 span{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    width: 90%;
    align-items: baseline;
    margin-left: 10%;
  }

  .texto_sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    height: 10%;
  }

  .texto_sobre h1{
    font-size: 3rem;
    align-items: center;
    margin-left: 20%;
    margin-top: 15%;
  }

  .texto_sobre span{
    font-size: 22px;
    margin-left: 20%;
  }

  .container{
    height: 50%;
    width: 80%;
    text-align: justify;
  }

  .boxes{
    display: flex;
    align-items: center;
    flex-direction: center;
    justify-content: column;
    background-color: white;
    height: 18rem; 
    width: 27%;  
    padding: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
    border-radius: 5px;
    transition: transform 0.3s ease;
  }

  .boxes:hover{
    transform: scale(1.05);
  }

  .social h1{
    font-size: 3rem;
    align-items: center;
    margin-left: 2rem;
  }

  .span-bosta{
    margin-left: 4%;
    margin-bottom: 5%;
    width: 94%;
    text-align: justify;
    display: flex;
  }

  .container span{
    text-align: justify;
    font-size: 22px;
    margin-right: 4rem;
  }

  .cartoes{
    display: flex;
    align-items: center;
    flex-direction: center;
    justify-content: space-around;
    width: 60%;
    margin-left: 16.3rem;
    margin-bottom: 5%;
  }

  .boxes .box{
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    height: 15rem; 
    width: 17rem;  
    padding: 1rem; 
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-bottom: 25%;
  }

  .fundo-icones{
    background-color:#DEDEDE;
    border-radius: 6px;
  }

  .boxes .box h4{
    font-size: 1.4rem;
  }

  .boxes .box p{
    font-size: 17px;
    margin-bottom: 5%;
    height: auto;
  }