@import 
url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pridi:wght@200;300;400;500;600;700&display=swap');

body{
    padding: 0;
    margin: 0;
}

.equipe {
    background-image: url("../src/imgs/background_equipe.png");
    background-size: cover;
    height: 1080px;
    display: flex;

    flex-direction: column;
    align-items: center;

}

.equipe h1 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    color: #FFFF;
    margin-top: 0px;
    padding-top: 40px;
    text-align: center;
}

.equipe h4 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #FFFF;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    font-weight: 400;
}

.equipe .card {
    background-color: #302D29;
    height: 300px;
    width: 900px;
    border-radius: 10px;
    padding: 40px;

    display: flex;
    
}

.equipe .card h1 {
    font-size: 40px;
    width: 400px;
}

.equipe .card h4 {
    margin-left: 12%;
    text-align: left;
}

.equipe .info {
    width: 60%;
}

.equipe img {
    border-radius: 10px;
    border: #fff solid 4px;
}

.equipe .git {
        display: inline-block;
        width: 2em;
        height: 2em;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23CCCCCC' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
}

.equipe .gith_line{
    display: flex;
    justify-content: center;
    width: 370px;
}

.equipe .gith_line h4{
    margin-left: 5px;
}

.equipe .lind {
        display: inline-block;
        width: 2em;
        height: 2em;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23CCCCCC' d='M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zM8 10a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-5a1 1 0 0 0-1-1m3-1a1 1 0 0 0-1 1v6a1 1 0 1 0 2 0v-3.66c.305-.344.82-.748 1.393-.993c.333-.142.834-.2 1.182-.09a.55.55 0 0 1 .293.188c.052.07.132.226.132.555v4a1 1 0 0 0 2 0v-4c0-.67-.17-1.266-.524-1.744a2.54 2.54 0 0 0-1.301-.907c-.902-.283-1.901-.126-2.568.16a6 6 0 0 0-.623.312A1 1 0 0 0 11 9M8 7a1 1 0 1 0 0 2a1 1 0 0 0 0-2'/%3E%3C/g%3E%3C/svg%3E");
} 

.equipe .lind_line{
    display: flex;
    justify-content: center;
    width: 370px;
}

.equipe .lind_line h4{
    margin-left: 5px;
}

.equipe .SetaDir {
        display: inline-block;
        width: 2em;
        height: 2em;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23CCCCCC' d='M338.752 104.704a64 64 0 0 0 0 90.496l316.8 316.8l-316.8 316.8a64 64 0 0 0 90.496 90.496l362.048-362.048a64 64 0 0 0 0-90.496L429.248 104.704a64 64 0 0 0-90.496 0'/%3E%3C/svg%3E");  
        margin-left: 20px;
    }

.equipe .contd {
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.equipe .SetaEsq {
        display: inline-block;
        width: 2em;
        height: 2em;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23CCCCCC' d='M685.248 104.704a64 64 0 0 1 0 90.496L368.448 512l316.8 316.8a64 64 0 0 1-90.496 90.496L232.704 557.248a64 64 0 0 1 0-90.496l362.048-362.048a64 64 0 0 1 90.496 0'/%3E%3C/svg%3E");
        margin-right: 20px;
    }

.equipe .circle{
    height: 10px;
    width: 10px;
    border: #fff solid 3.5px;
    border-radius: 20px;
}

.equipe .legenda_card {
    display: flex;
    margin-top: 10px;
    width: 17%;

    justify-content: space-around;
}